<%= search_form_for @q, :class => collapse_search_form, :id => "articles_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :restaurant_yelp_id_cont, "Restaurant yelp contains" %>
    <%= f.text_field :restaurant_yelp_id_cont, :class => "form-control", :placeholder => "Restaurant yelp contains" %>
  </div>

  <div class="form-group">
    <%= f.label :webaddress_cont, "Webaddress contains" %>
    <%= f.text_field :webaddress_cont, :class => "form-control", :placeholder => "Webaddress contains" %>
  </div>

  <div class="form-group">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Title contains" %>
  </div>

  <div class="form-group">
    <%= f.label :publication_cont, "Publication contains" %>
    <%= f.text_field :publication_cont, :class => "form-control", :placeholder => "Publication contains" %>
  </div>

  <div class="form-group">
    <%= f.label :image_address_cont, "Image address contains" %>
    <%= f.text_field :image_address_cont, :class => "form-control", :placeholder => "Image address contains" %>
  </div>

  <div class="form-group">
    <%= f.label :date_published, "Date published" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='date_publishedgteqPicker' data-target-input="nearest">
          <%= f.text_field :date_published_gteq, :class => "form-control datetimepicker-input", :placeholder => "Date published greater than or equal to", :data => {:target => '#date_publishedgteqPicker'} %>
          <div class="input-group-append" data-target='#date_publishedgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='date_publishedlteqPicker' data-target-input="nearest">
          <%= f.text_field :date_published_lteq, :class => "form-control datetimepicker-input", :placeholder => "Date published less than or equal to", :data => {:target => '#date_publishedlteqPicker'} %>
          <div class="input-group-append" data-target='#date_publishedlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#date_publishedgteqPicker').datetimepicker({
              format: 'MM/DD/YYYY'
          });
          $('#date_publishedlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'MM/DD/YYYY'
          });
          $('#date_publishedgteqPicker').on("dp.change", function (e) {
              $('#date_publishedlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#date_publishedlteqPicker').on("dp.change", function (e) {
              $('#date_publishedgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :city_cont, "City contains" %>
    <%= f.text_field :city_cont, :class => "form-control", :placeholder => "City contains" %>
  </div>

  <div class="form-group">
    <%= f.label :author_name_cont, "Author name contains" %>
    <%= f.text_field :author_name_cont, :class => "form-control", :placeholder => "Author name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>




  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/articles" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#articles_filters">
  Show filters
</a>
