<h1>
  Edit article #<%= @article.id %>
</h1>

<hr>

<!-- Form article start -->
<form action="/update_article/<%= @article.id %>" method="post">
<!-- Form article end -->

  <!-- Label and input for restaurant_yelp_id start -->
  <div class="form-group">
    <label for="restaurant_yelp_id">
      Restaurant yelp
    </label>

    <!-- Input for restaurant_yelp_id start -->
    <input type="text" id="restaurant_yelp_id" name="restaurant_yelp_id" class="form-control" value="<%= @article.restaurant_yelp_id %>">
    <!-- Input for restaurant_yelp_id end -->
  </div>
  <!-- Label and input for restaurant_yelp_id end -->

  <!-- Label and input for author_name start -->
  <div class="form-group">
    <label for="author_name">
      Author name
    </label>

    <!-- Input for author_name start -->
    <input type="text" id="author_name" name="author_name" class="form-control" value="<%= @article.author_name %>">
    <!-- Input for author_name end -->
  </div>
  <!-- Label and input for author_name end -->

  <!-- Label and input for city start -->
  <div class="form-group">
    <label for="city">
      City
    </label>

    <!-- Input for city start -->
    <input type="text" id="city" name="city" class="form-control" value="<%= @article.city %>">
    <!-- Input for city end -->
  </div>
  <!-- Label and input for city end -->

  <!-- Label and input for date_published start -->
  <div class="form-group">
    <label for="date_published">
      Date published
    </label>

    <!-- Input for date_published start -->
    <input type="text" id="date_published" name="date_published" class="form-control" value="<%= @article.date_published %>">
    <!-- Input for date_published end -->
  </div>
  <!-- Label and input for date_published end -->

  <!-- Label and input for image_address start -->
  <div class="form-group">
    <label for="image_address">
      Image address
    </label>

    <!-- Input for image_address start -->
    <input type="text" id="image_address" name="image_address" class="form-control" value="<%= @article.image_address %>">
    <!-- Input for image_address end -->
  </div>
  <!-- Label and input for image_address end -->

  <!-- Label and input for publication start -->
  <div class="form-group">
    <label for="publication">
      Publication
    </label>

    <!-- Input for publication start -->
    <input type="text" id="publication" name="publication" class="form-control" value="<%= @article.publication %>">
    <!-- Input for publication end -->
  </div>
  <!-- Label and input for publication end -->

  <!-- Label and input for title start -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <!-- Input for title start -->
    <input type="text" id="title" name="title" class="form-control" value="<%= @article.title %>">
    <!-- Input for title end -->
  </div>
  <!-- Label and input for title end -->

  <!-- Label and input for webaddress start -->
  <div class="form-group">
    <label for="webaddress">
      Webaddress
    </label>

    <!-- Input for webaddress start -->
    <input type="text" id="webaddress" name="webaddress" class="form-control" value="<%= @article.webaddress %>">
    <!-- Input for webaddress end -->
  </div>
  <!-- Label and input for webaddress end -->

  <button class="btn btn-block btn-outline-secondary">
    Update article
  </button>
</form>

<hr>

<a href="/articles">
  Go back
</a>
