<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All articles
    </h1>

    <a href="/articles/new" class="btn btn-block btn-outline-secondary">
      Add a new article
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Restaurant yelp
        </th>

        <th>
          Author name
        </th>

        <th>
          City
        </th>

        <th>
          Date published
        </th>

        <th>
          Image address
        </th>

        <th>
          Publication
        </th>

        <th>
          Title
        </th>

        <th>
          Webaddress
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @articles.each do |article| %>
      <tr>
        <!-- Display article.id start -->
        <td>
          <%= article.id %>
        </td>
        <!-- Display article.id end -->

        <!-- Display article.restaurant_yelp_id start -->
        <td>
          <%= article.restaurant_yelp_id %>
        </td>
        <!-- Display article.restaurant_yelp_id end -->

        <!-- Display article.author_name start -->
        <td>
          <%= article.author_name %>
        </td>
        <!-- Display article.author_name end -->

        <!-- Display article.city start -->
        <td>
          <%= article.city %>
        </td>
        <!-- Display article.city end -->

        <!-- Display article.date_published start -->
        <td>
          <%= article.date_published %>
        </td>
        <!-- Display article.date_published end -->

        <!-- Display article.image_address start -->
        <td>
          <%= article.image_address %>
        </td>
        <!-- Display article.image_address end -->

        <!-- Display article.publication start -->
        <td>
          <%= article.publication %>
        </td>
        <!-- Display article.publication end -->

        <!-- Display article.title start -->
        <td>
          <%= article.title %>
        </td>
        <!-- Display article.title end -->

        <!-- Display article.webaddress start -->
        <td>
          <%= article.webaddress %>
        </td>
        <!-- Display article.webaddress end -->

        <!-- Display article.created_at start -->
        <td>
          <%= time_ago_in_words(article.created_at) %> ago
        </td>
        <!-- Display article.created_at end -->

        <!-- Display article.updated_at start -->
        <td>
          <%= time_ago_in_words(article.updated_at) %> ago
        </td>
        <!-- Display article.updated_at end -->

        <td>
          <a href="/articles/<%= article.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
