<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All articles
    </h1>

    <a href="/articles/new" class="btn btn-block btn-outline-secondary">
      Add a new article
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "article_templates/articles_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Restaurant yelp
        </th>

        <th>
          Author name
        </th>

        <th>
          City
        </th>

        <th>
          Date published
        </th>

        <th>
          Image address
        </th>

        <th>
          Publication
        </th>

        <th>
          Title
        </th>

        <th>
          Webaddress
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @articles.each do |article| %>
      <tr>
        <td>
          <%= article.id %>
        </td>

        <td>
          <%= article.restaurant_yelp_id %>
        </td>

        <td>
          <%= article.author_name %>
        </td>

        <td>
          <%= article.city %>
        </td>

        <td>
          <%= article.date_published %>
        </td>

        <td>
          <%= article.image_address %>
        </td>

        <td>
          <%= article.publication %>
        </td>

        <td>
          <%= article.title %>
        </td>

        <td>
          <%= article.webaddress %>
        </td>

        <td>
          <%= time_ago_in_words(article.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(article.updated_at) %> ago
        </td>

        <td>
          <a href="/articles/<%= article.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @articles, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
