<% if @article.present? %>
  <% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new article
</h1>


<hr>

<form action="/create_article" method="post">

  <div class="form-group">
    <label for="restaurant_yelp_id">
      Restaurant yelp
    </label>

    <input type="text" id="restaurant_yelp_id" name="restaurant_yelp_id" class="form-control" value="<%= @article.restaurant_yelp_id %>">
  </div>

  <div class="form-group">
    <label for="author_name">
      Author name
    </label>

    <input type="text" id="author_name" name="author_name" class="form-control" value="<%= @article.author_name %>">
  </div>

  <div class="form-group">
    <label for="city">
      City
    </label>

    <input type="text" id="city" name="city" class="form-control" value="<%= @article.city %>">
  </div>

  <div class="form-group">
    <label for="date_published">
      Date published
    </label>

    <input type="text" id="date_published" name="date_published" class="form-control" value="<%= @article.date_published %>">
  </div>

  <div class="form-group">
    <label for="image_address">
      Image address
    </label>

    <input type="text" id="image_address" name="image_address" class="form-control" value="<%= @article.image_address %>">
  </div>

  <div class="form-group">
    <label for="publication">
      Publication
    </label>

    <input type="text" id="publication" name="publication" class="form-control" value="<%= @article.publication %>">
  </div>

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @article.title %>">
  </div>

  <div class="form-group">
    <label for="webaddress">
      Webaddress
    </label>

    <input type="text" id="webaddress" name="webaddress" class="form-control" value="<%= @article.webaddress %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create article
  </button>
</form>

<hr>

<a href="/articles">
  Go back
</a>
