<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Article #<%= @article.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/articles" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/articles/<%= @article.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit article
        </a>
      </div>

      <div class="col">
        <a href="/delete_article/<%= @article.id %>" class="btn btn-block btn-outline-secondary">
          Delete article
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Restaurant yelp
      </dt>
      <dd>
        <%= @article.restaurant_yelp_id %>
      </dd>

      <dt>
        Author name
      </dt>
      <dd>
        <%= @article.author_name %>
      </dd>

      <dt>
        City
      </dt>
      <dd>
        <%= @article.city %>
      </dd>

      <dt>
        Date published
      </dt>
      <dd>
        <%= @article.date_published %>
      </dd>

      <dt>
        Image address
      </dt>
      <dd>
        <%= @article.image_address %>
      </dd>

      <dt>
        Publication
      </dt>
      <dd>
        <%= @article.publication %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @article.title %>
      </dd>

      <dt>
        Webaddress
      </dt>
      <dd>
        <%= @article.webaddress %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@article.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@article.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "article_templates/article_likes" %>
  </div>
</div>
